<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand">{{user.name}}</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link " routerLink='/home/portfolio'>Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " routerLink='/home/product/add'>Add Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/home/rendimientos'>Rendimientos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)='logout()'> Log Out</a>
                </li>
              </ul>
            </div>
          </div>
    </div>
    </nav>
<router-outlet></router-outlet>