<div class='container form-container'>

    <form autocomplete='off' [formGroup] = 'newProductForm' (ngSubmit)="edit ? editProduct() : createProduct()">
        <fieldset>
            <div ><legend class='text-center mb-3'>{{title}}</legend></div>

            <div class="form-group mt-1">
                <label class="form-label ml-1 mb-1">Nombre </label>
                <input type="text" formControlName='product_name'class="form-control" >
            </div>

            <div class="form-group mt-1">
                <label class="form-label ml-1 mb-1">Inversion minima</label>
                <input type="number"  min='1' placeholder='$' formControlName='product_minInvestment' step='any' class="form-control">

            </div>

            <div class="form-group ">
                <label class="form-label ml-1 mb-1">Inversion maxima </label>
                <input type="number" placeholder="$" formControlName='product_maxInvestment' min='2' step='any' class="form-control">
            </div>


            <div class="form-group">
                <label class="form-label ml-1 mb-1">Tasa mensual </label>
                <input type="number" formControlName='product_monthlyRate' placeholder="%" step='any' class="form-control" placeholder="%">
            </div>
            
            <div class="form-group">
                <label class="form-label ml-1 mb-1">Duracion del plan </label>
                <input type="number" formControlName='product_planTime' min='1' max='12' step='any' class="form-control" placeholder="Meses">
            </div>

            <div class="d-flex justify-content-center pb-2">
                <!-- <button (click)='edit ? updateEmployee() : saveNewEmployee()'type="submit" class="btn btn-outline-primary mr-2"> -->
                <!-- <div *ngIf="edit; else elseBlock">Editar empleado</div> -->
                <!-- <ng-template #elseBlock>Agregar empleado</ng-template> -->
                <!-- </button> -->

                <button [disabled]="newProductForm.invalid"class='btn btn-outline-primary mr-2' type='submit'> {{btnTitle}}</button>

            </div>



        </fieldset>
    </form>


</div>